{% extends 'main/base.html' %}
{% load static %}
{% load tags %}
{% block content %}
        <div class="container col-md-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3 border-bottom">
                <div class="btn-toolbar mb-2 mb-md-0 ">
                    <h3 class="text-info"> &nbsp DashBoard - Consumer </h3>
                </div>
            </div>
            <div class="col">
                {% include 'main/householdview.html' %}
                <div class="col-md-6">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-relative">
                          <h3 class="mb-1"> <strong class="text-muted"> Handset Upgrade</strong></h3>
                          <div class="container border-bottom"></div>
                          <br>
                            {% if date_cal.calculate_if_eligible is True %}
                                <a href="{% url 'buildhandsetupgrade' mobile_number.number %}"> Upgrade </a>
                            {% elif date_cal.calculate_if_eligible is False %}
                                <a href="{% url 'buildhandsetupgrade' mobile_number.number %}"> Early Upgrade  </a>
                            {% endif %}
                            {% if date_cal.calculate_days_remaining <= 100 and date_cal.calculate_if_eligible is False %}
                                <h7><strong>100 Day Promo Eligible</strong> </h7>
                            {% endif %}
                            {% if mobile_number.annual_upgrade is True and date_cal.calculate_if_eligible is False %}
                                 <a href="{% url 'buildhandsetupgrade' mobile_number.number %}" > Annual Upgrade </a>
                            {% endif %}
                        </div>
                      </div>
                </div>
                 <div class="col-md-6">
                      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-relative">
                          <h3 class="mb-1"> <strong class="text-muted">Sim-Only Upgrade </strong></h3>
                          <div class="container border-bottom "></div>
                          <br>
                            {% if date_cal.calculate_if_eligible is False %}
                                <p class="mb-auto">Available On: <strong class="text-danger">{{date_cal.calculate_upgrade_date}}</strong> </p>
                            {% elif date_cal.calculate_if_eligible is True %}
                                <p class="mb-auto">Available On: <strong class="text-success"> Eligible Now</strong> </p>
                                <a href="{% url 'buildsimoupgrade' mobile_number.number %}"> Upgrade </a>
                            {% endif %}
                        </div>
                      </div>
                 </div>
                 <br>
                 <br>

                 <div class="col-md-12">
                     <div class="row no-gutters border rounded overflow-hidden shadow position-relative" >
                         <div class="col p-4 d-flex flex-column position-relative">
                             <h3 class="md-1"><strong class="text-muted">Recommendations for </strong><strong>{{customer.first_name}}</strong></h3>
                             <div class="container border-bottom "></div>
                             <br>
                             <div class="container">
                                 {% if mobile_number.data_usage_3m >= 50 %}
                                    <p>Current data usage is high at: <strong class="text-danger">{{mobile_number.data_usage_3m}} GB</strong></p>
                                 {% elif mobile_number.data_usage_3m < 10 %}
                                    <p>Current data usage is low at only: <strong class="text-primary">{{mobile_number.data_usage_3m}} GB</strong></p>
                                 {% elif mobile_number.data_usage_3m < 50 %}
                                    <p>Current data usage is not to high at: <strong class="text-muted">{{mobile_number.data_usage_3m}}GB</strong></p>
                                 {% endif %}
                             </div>
                             <div class="container-fluid">
                                 <div class="row">
                                     {% for handset in handsets %}
                                         <div class="col-md-4 border rounded shadow">
                                               <div class="container-fluid">
                                                 <br>
                                                 <div class="container border-bottom "></div>
                                                 <br>
                                                 <div class="container">
                                                  <p><strong>Handset: </strong> {{handset.model}}</p>
                                                  {% return_tariff_object tariffs forloop.counter0 as tariff %}
                                                  {% if tariff.data_allowance == '1000' %}
                                                     <p><strong>Data: </strong> ULTD GB</p>
                                                  {% else %}
                                                      <p><strong>Data: </strong> {{tariff.data_allowance}} GB</p>
                                                  {% endif %}
                                                  <p><strong>Monthly:</strong> £{{tariff.mrc}}</p>
                                                  {% get_upfront tariff.mrc handset.model tariff.data_allowance as upfront %}
                                                  <p><strong>Upfront:</strong> £{{upfront}}</p>
                                                   <div class="col-md-12">
                                                              <button class="btn col-md-12 btn-success btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                Select Colour
                                                              </button>
                                                              <div class="dropdown-menu">
                                                                  {% filter_colours handset.model as filter %}
                                                                          {% for item in filter %}
                                                                                {% get_individual_colour_stock item as stock %}
                                                                                <form method="POST">
                                                                                    {% csrf_token %}
                                                                                    <input type="hidden" name="handset_choice" value="{{item.product_code}}">
                                                                                    <input type="hidden" name="tariff_code" value="{{tariff.tariff_code}}">
                                                                                    <input type="hidden" name="upfront" value="{{upfront}}">
                                                                                     <input class="dropdown-item " width="20" type="submit" value="{{item.colour}}  -  {{stock}}" >
                                                                                </form>
                                                                          {% endfor %}
                                                              </div>
                                                      </div>
                                                  </div>
                                                  <hr>
                                              </div>
                                         </div>
                                     {% endfor %}
                                 </div>
                                 <br>
                                 <div class="row">
                                      {% for recommended_sim_tariffs in recommended_sim_tariffs %}
                                      <div class="col-md-4 border rounded shadow">
                                          <div class="container-fluid">
                                              <br>
                                              <div class="container border-bottom "></div>
                                              <br>
                                              <p><strong>Sim-Only Type:</strong> {{recommended_sim_tariffs.plan_name}}</p>
                                              <p><strong>Contract Length:</strong> {{recommended_sim_tariffs.contract_length}}</p>

                                              {% if tariff.data_allowance == 1000 %}
                                                 <p><strong>Data: </strong> ULTD GB</p>
                                              {% else %}
                                                  <p><strong>Data: </strong> {{recommended_sim_tariffs.data_allowance}}GB</p>
                                              {% endif %}

                                              <p><strong>Monthly:</strong> £{{recommended_sim_tariffs.mrc}}</p>
                                              <form method="POST">
                                                 {% csrf_token %}
                                                <input type="hidden" name="simo_recommended" value="{{recommended_sim_tariffs.tariff_code}}">
                                                <button  type="submit" class="btn btn-success btn-sm col-md-12">Add To Basket</button>
                                              </form>
                                              <hr>
                                          </div>
                                      </div>
                                      {% endfor %}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>
        </div>
{% endblock %}